.headerclass
{
    background-color: aqua;
    text-align: center;
}
body
{
    background-color: blue;
}
#spanid
{
    color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
  }
  li{
      float:right;
    }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 34px 23px;
    text-decoration: none;
  }
  #image
  {
      background-image: url("/home/ubuntu/Desktop/lekshmi/imgg/CR7JJ.jpg");
      color:red;
    text-align: center;
    padding: 60px 50px;
    text-decoration: none;
  }

}
